<div class="mt-4">
  <form>
    <div class="form-group">
      <label for="search-input" class="form-label">Key words</label>
      <input type="text" name="q" class="form-controll" id="search-input" placeholder="Key words..." >
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>